body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 50px auto;
    font-family: 'Sacramento', serif;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 25px 0px;
}

h3 {
    font-family: 'Montserrat', serif;
    color: #11999E;
}

hr {
    border: 9px dotted;
    border-style: none none dotted;
    width: 18%;
    border-color: #EAF6F6;
    margin: 100px auto;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    position: relative;
    padding-top: 100px;
}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0 20px;
}

.contact-line {
    margin: 40px auto 60px;
    width: 40%;
    line-height: 2;
}

.middle-p {
    width: 30%;
    margin: auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill1-img {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.skill2-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-link {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', serif;
    text-decoration: none;
  }

  .footer-link:hover {
    color:#EAF6F6;
  }

  .copyright {
    margin: 50px;
    color: #EAF6F6;
    font-size: .75rem;

  }

  .p {
    line-height: 2;
  }